.body{background-image:url(bg1.jpg);background-repeat:repeat;background-size:100%;border:1.5px solid rgba(21,19,22,.726);border-radius:5px;box-shadow:-5px -5px 6px #818181;background-attachment:fixed;flex-wrap:warp;margin:0;padding:0}
#body2{background-color:#000;background-repeat:repeat;background-size:100%;background-attachment:fixed;background-blend-mode:darken;flex-wrap:warp;margin:0;padding:0}
#body3{background-color:#000;background-repeat:repeat;background-size:100%;background-attachment:fixed;background-blend-mode:darken;flex-wrap:warp;margin:0;padding:0}
#body4{background-color:#000;background-repeat:repeat;background-size:100%;background-attachment:fixed;background-blend-mode:darken;flex-wrap:warp;margin:0;padding:0}
.container2{background-color:rgba(255,255,255,15);backdrop-filter:blur(1px);color:#e0e0e0;padding:0;margin:0}
.btn2{background-color:none;padding:50px;margin:5px;box-shadow:3px 3px 5px 1px rgba(7,6,6,.507)}
.btn2:hover{transform:scale(1.2)}
.pad{margin:auto;margin-left:500px}
@media (min-width:200px),(max-width:800px){
.pad{margin-left:80px;padding-top:50px}
}
@media screen and (min-width:200px) and (max-width:760px){
.pad{height:200px;width:450px;margin-left:25%}
}
@media screen and (min-width:571px) and (max-width:600px){
.pad{height:200px;width:450px;margin-left:5%}
}
@media screen and (min-width:540px) and (max-width:570px){
.pad{height:200px;width:450px;margin-left:29%}
}
@media screen and (min-width:100px) and (max-width:400px){
.pad{height:200px;width:450px;margin-left:19%}
}
@media screen and (min-width:768px) and (max-width:800px){
.pad{height:400px;width:500px;margin-left:19%}
}
a{text-decoration:#fff5ee;color:beige}
a:link{color:#faebd7}
.box{padding:20%;padding-top:5px;margin-left:260px;margin-top:100px;width:550px;height:400px;float:none;position:relative;font-family:Algerian;text-align:left;display:inline-block;position:relative;object-position:top;position:-ms-page;background-image:linear-gradient(250deg,rgba(255,0,0,.226),rgba(255,0,170,.336),rgba(183,0,255,.308),rgba(4,0,255,.281));color:rgba(255,238,0,.911);border:3px solid;border-color:rgba(0,255,64,.603) rgba(229,255,0,.603) rgba(0,255,64,.603) rgba(229,255,0,.603);border-radius:30px 50px 30px 50px;object-position:center;box-shadow:5px 5px 20px 1px rgba(240,94,167,.308),-5px -5px 20px 1px rgba(157,149,231,.308)}
@media screen and (min-width:200px) and (max-width:1000px){
.box{height:500px;width:450px;margin-left:15%}
}
@media screen and (min-width:400px) and (max-width:520px){
.box{height:600px;width:350px;margin-left:9%}
}
@media screen and (min-width:500px) and (max-width:520px){
.box{height:600px;width:400px;margin-left:10%}
}
@media screen and (min-width:520px) and (max-width:760px){
.box{height:400px;width:450px;margin-left:9%}
}
@media screen and (min-width:450px) and (max-width:500px){
.box{height:250px;width:450px;margin-left:3.5%}
}
@media screen and (min-width:350px) and (max-width:400px){
.box{height:400px;width:300px;margin-left:9%}
}
@media screen and (min-width:100px) and (max-width:350px){
.box{height:400px;width:290px;margin-left:5%}
}
@media screen and (min-width:768px) and (max-width:800px){
.box{height:400px;width:500px;margin-left:19%}
}
.nav{background-image:linear-gradient(90deg,rgba(143,142,255,.555),rgba(255,82,197,.363),rgba(183,0,255,.514),rgba(4,0,255,.281));border-radius:30px 10px 30px 10px;border:1.5px solid rgba(26,1,83,.726);position:relative;color:#fff;display:flex}
.switch{position:relative;display:inline-block;width:60px;height:34px}
.switch input{opacity:0;width:0;height:0}
.slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s}
.slider:before{position:absolute;content:"";height:26px;width:26px;left:4px;bottom:4px;background-color:#fff;-webkit-transition:.4s;transition:.4s}
input:checked+.slider{background-color:#2196f3}
input:focus+.slider{box-shadow:0 0 1px #2196f3}
input:checked+.slider:before{-webkit-transform:translateX(26px);-ms-transform:translateX(26px);transform:translateX(26px)}
.slider.round{border-radius:34px}
.slider.round:before{border-radius:50%}
.btnTheme{padding-left:10px}
.pad2{width:100%}
@media screen and (min-width:768px) and (max-width:400px){
.pad2{height:400px;width:290px;margin-left:9%}
}
.anm{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:0s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623);transform:translateY(-200px)}
25%{color:rgba(194,8,219,.623);transform:translateY(-300px)}
50%{color:rgba(12,233,23,.623);transform:translateY(300px)}
75%{color:rgba(224,228,10,.623);transform:translateY(200px)}
100%{color:rgba(10,177,228,.726);transform:translateY(200px)}
}
.anm2{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:1s;animation-timing-function:linear;animation-duration:5s;transform:translateY(0)}
@keyframes jump{
0%{color:rgba(71,8,219,.623);transform:translateY(0)}
25%{color:rgba(225,0,255,.733);transform:translateY(-200px)}
50%{color:rgba(12,233,23,.623);transform:translateY(-300px)}
75%{color:rgba(224,228,10,.623);transform:translateY(300px)}
100%{color:rgba(10,177,228,.726);transform:translateY(200px)}
}
.anm3{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:2s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.733)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm4{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:3s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.733)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm5{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:4s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.733)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm6{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:5s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.959)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm7{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:6s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.959)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm8{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:7s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.959)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm9{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:8s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(194,8,219,.623)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm10{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:9s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.959)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm11{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:10s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.959)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm12{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:11s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.959)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm13{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:12s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.959)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.anm14{text-align:center;animation-name:jump;animation-iteration-count:infinite;animation-fill-mode:forwards;animation-direction:normal;animation-delay:13s;animation-timing-function:linear;animation-duration:5s}
@keyframes jump{
0%{color:rgba(71,8,219,.623)}
25%{color:rgba(225,0,255,.959)}
50%{color:rgba(12,233,23,.623)}
75%{color:rgba(224,228,10,.623)}
100%{color:rgba(10,177,228,.726)}
}
.drp{color:#000}
.drp:hover{transform:scale(1.1);background-color:rgba(39,119,238,.596)}
.nav-link{color:#faebd7}
#box2{padding-top:5px;margin:10px;margin-left:12px;width:1050px;height:auto;float:none;position:relative;text-align:left;display:inline-block;position:relative;object-position:top;display:-ms-grid;color:#fff;background-color:rgba(91,99,91,.4);border-radius:10px;object-position:center}
@media screen and (min-width:200px) and (max-width:300px){
#box2{width:auto;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:300px) and (max-width:340px){
#box2{width:auto;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:340px) and (max-width:500px){
#box2{width:auto;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:500px) and (max-width:600px){
#box2{width:auto;margin-left:5%}
}
@media screen and (min-width:600px) and (max-width:650px){
#box2{width:auto;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:650px) and (max-width:700px){
#box2{width:auto;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:700px) and (max-width:780px){
#box2{width:500px;margin-left:15%;margin-right:5%}
}
@media screen and (min-width:780px) and (max-width:840px){
#box2{width:700px;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:840px) and (max-width:900px){
#box2{width:690px;margin-left:9%;margin-right:5%}
}
@media screen and (min-width:1100px) and (max-width:1100px){
#box2{width:auto;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:1100px) and (max-width:1200px){
#box2{width:1000px;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:1200px) and (max-width:1300px){
#box2{width:1100px;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:1300px) and (max-width:1400px){
#box2{width:1200px;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:1400px) and (max-width:1500px){
#box2{width:1300px;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:1500px) and (max-width:1600px){
#box2{width:1400px;margin-left:5%;margin-right:5%}
}
@media screen and (min-width:1600px) and (max-width:2000px){
#box2{width:1600px;margin-left:5%;margin-right:5%}
}
.chapters{border:3px solid;border-color:rgba(255,61,61,.795);border-radius:50px;padding-left:10px;margin-left:40px}
.cha-name{color:rgba(227,208,233,.788);text-decoration:underline;text-shadow:2px 2px 5px rgba(0,0,0,.842)}
::-webkit-scrollbar{width:5px;height:2px}
::-webkit-scrollbar-track{background:#000}
::-webkit-scrollbar-thumb{position:fixed;width:5px;height:1px;background:linear-gradient(to top,#008aff,#00ffe7);border-radius:50px;animation:animate 5s linear infinite}
@keyframes animate{
from{filter:hue-rotate(360deg)}
to{filter:hue-rotate(36deg)}
}
table{display:flex;flex-wrap:nowrap}
#table{border:4px solid;border-color:#d8bfd8;display:inline-block;word-break:break-word;border-radius:5px}
#table2{border:4px solid;border-color:#d8bfd8;display:inline-block;word-break:break-word;border-radius:5px}
#table3{border:4px solid;border-color:#d8bfd8;display:inline-block;word-break:break-word;border-radius:5px}
#table4{border:4px solid;border-color:#d8bfd8;display:inline-block;word-break:break-word;border-radius:5px;width:50vh}
#table5{border:4px solid;border-color:#d8bfd8;display:inline-block;word-break:break-word;border-radius:5px}
td,th{word-break:break-word;border:1.9px solid;border-color:#000}
.content{display:flex;flex-wrap:wrap}
#btn4{cursor:pointer}
#btn5{cursor:pointer;display:none}
.clo{color:#fff;text-shadow:2px 1px 0 #000}
#dim1{width:30px;height:30px;color:#fff;text-align:center;display:none;background-image:linear-gradient(90deg,rgba(77,29,83,.753) 5%,rgba(97,45,66,.596) 5%,rgba(95,45,102,.774)5%);border:1px solid rgba(41,41,41,.603);border-radius:50px 0 0 50px;background-position-y:-10px;box-shadow:2px 2px 5px rgba(231,231,231,.623)}
#dim1:hover{transform:scalex(1.1)}
#dim2{width:30px;height:30px;color:#fff;text-align:center;display:block;background-image:linear-gradient(90deg,rgba(77,29,83,.753) 5%,rgba(97,45,66,.596) 5%,rgba(95,45,102,.774)5%);border:1px solid rgba(41,41,41,.603);border-radius:0 50px 50px 0;background-position-y:-10px;box-shadow:2px 2px 5px rgba(255,255,255,.623)}
#dim2:hover{transform:scalex(1.1)}
#dim3{width:30px;height:30px;color:#fff;text-align:center;display:none;background-image:linear-gradient(90deg,rgba(77,29,83,.753) 5%,rgba(97,45,66,.596) 5%,rgba(95,45,102,.774)5%);border:1px solid rgba(41,41,41,.603);border-radius:0 50px 50px 0;background-position-y:-10px;box-shadow:2px 2px 5px rgba(231,231,231,.623)}
#dim3:hover{transform:scalex(1.1)}
#dim4{width:30px;height:30px;color:#fff;text-align:center;display:none;background-image:linear-gradient(90deg,rgba(77,29,83,.753) 5%,rgba(97,45,66,.596) 5%,rgba(95,45,102,.774)5%);border:1px solid rgba(41,41,41,.603);border-radius:50px 0 0 50px;background-position-y:-10px;box-shadow:2px 2px 5px rgba(231,231,231,.623)}
#dim4:hover{transform:scalex(1.1)}